@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.logom{
width: 14%;
margin-left: 23px;
}

.logom img{
    max-width: 60px;
    border: 2px solid white;
    border-radius: 39px;
    max-height: 66px;
    margin-left: 44px;
    display: block;
    margin: auto;
}

.navbarm{
    display: flex;
    
    top: 0px;
}

.nav-listm{
    width: 72%;
    
    display: flex;
    align-items: center;
    margin-left: 38px;
    padding: 9px;
    margin-bottom: 0px;
}

.navbarm li{
    list-style: none;
    
}

.navbarm li a{
    text-decoration: none;
    padding: 22px 30px;

    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
transition: 0.5s;

}

.navbarm li a:hover{
    color: rgb(171, 165, 165);
}

.right-nav{
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 23px;
}

.btnm{
    padding: 12px 19px;
    margin: 6px;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    background-color: #dc3545;;
    font-family: 'Ubuntu', sans-serif;
font-size: 15px;
transition: 0.5s;
}

.btnm:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #bb2d3b;
    opacity: 0.9;
}

.burger{
    position: absolute;
    top: 5%;
    right: 15px;
    display: none;
    cursor: pointer;
}

.lineb{
    background: white;
    width: 33px;
    height: 4px;
    margin: 3px 3px;
}

.bgm{
    background-color: rgb(0 0 0 / 85%);
}

.section{
    display: flex;
    width: 100%;
}

.section-left{
    width: 33%;
    margin-top: 40px;
}

.section-left h3{
    text-align: center;
}

.section-left form{
    margin-left: 30px;
}

.inputcheck{
    font-size: 18px;
    padding: 10px;
}

input{
    font-size: 10px;
}

.section-right{
    margin: 37px 116px;
}

.fontm{
    font-family: 'Ubuntu', sans-serif;
}

.checked {
    color: orange;
}

.star{
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: scale-down;
}

@media only screen and (max-width:620px){
    .section{
    display: block;
    }

    .section-left{
        width: 64%;
        margin: auto;
    }

    .section-right{
        margin: 51px;
    }
}