<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Worker's Page</title>
  <link rel="stylesheet" href="workerPage.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="workerPageResp.css">
  <link rel="stylesheet" href="nav.css">
  <link rel="stylesheet" href="navresp.css">
  
  <!-- <script src="../NavBar/navIncludeJSFile.js"></script> -->
</head>

<body>
  <nav class="navbarm bgm h-nav-resp">
    <ul class="nav-listm vis-nav-resp">
      <div class="logom">
        <img src="imgs/homepageLogo.png" alt="Logo">
      </div>
      <li> <a href="#Home">Home</a> </li>
      <li> <a href="#About">About</a> </li>
      <li> <a href="#services">Services</a> </li>
      <li> <a href="#contact">Contact Us</a> </li>
    </ul>
    <div class="right-nav vis-nav-resp">
      <button class="btnm">Login</button>
      <button class="btnm">SignUp</button>

    </div>

    <div class="burger">
      <div class="lineb"></div>
      <div class="lineb"></div>
      <div class="lineb"></div>
    </div>
  </nav>

  <div w3-include-html="../NavBar/nav.html"></div> 

  <div class="section">

    <!-- LEFT SECTION -->
    <div class="section-left">
      <h3>Choose Profession</h3>
      <form action="">
        <div class="inputcheck">
          <input type="checkbox" name="Profession" id="plum">
          <span> <label for="plum"> Plumber </label></span>
        </div>
        <div class="inputcheck">
          <input type="checkbox" name="Profession" id="carp">
          <span> <label for="carp"> Carpentar </label></span>
        </div>
        <div class="inputcheck">
          <input type="checkbox" name="Profession" id="elect">
          <span> <label for="elect"> Electrician </label> </span>
        </div>
      </form>
    </div>


    <!-- RIGHT SECTION -->
    <div class="section-right overflow-auto my-4">

      <h1 class="text-center display-4 text-xs-center text-muted fontm" id="speakers">Workers Profile</h1>

      <div class="row row-cols-1 row-cols-md-2 g-4">

        <!-- 1ST CARD -->
        <div class="col">
          <div class="card h-100">
            <img src="imgs/download (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Worker's Name</h5>
              <p>Profession</p>
              <p class="card-text">About the worker</p>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>

          </div>
        </div>

        <!-- 2ND CARD -->
        <div class="col">
          <div class="card h-100">
            <img src="imgs/download (2).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">his content is a little bit longer.</p>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>

        <!-- 3RD CARD -->
        <div class="col">
          <div class="card h-100">
            <img src="imgs/download (3).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-half-stroke checked"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>


        <!-- 4TH CARD -->
        <div class="col">
          <div class="card h-100">
            <img src="imgs/download.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">ral lead-in to additional content. This content is a little bit longer.</p>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  
<script src="workerPage.js"></script>
</body>

</html>