<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint approval</title>
</head>
<body>
    <h3>Kindly send your approval for the given task.</h3>
    <h3>Title: {{ title }}</h3>
    <h3>Complaint: {{ complaint }}</h3>
    <button type="submit"><a href="http://127.0.0.1:8000{% url 'approve' id %}">Send your approval</a></button>
</body>
</html>