<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
</head>
<body>
    <table>
        <tr>
            <td>Task ID</td>
            <td>Date posted</td>
            <td>Title</td>
            <td>Complaint</td>
            <td>Assigned by</td>
            <td>Assign worker</td>
        </tr>
        {% for t in tasks %}
        <tr>
        <td>{{ t.id }}</td>
        <td>{{ t.date_posted }}</td>
        <td>{{ t.title }}</td>
        <td>{{ t.complaint }}</td>
        <td>{{ t.assignedby.user.username }}</td>
        <td><a href="{% url 'taskpage' t.id %}">Visit</a></td>
        </tr>
        {% endfor %}
        <tr>

        </tr>
    </table>
</body>
</html>