<!DOCTYPE html>
<head>
    <title>Complaint</title>
</head>
  <body>
        <article class="media content-section row">
          <img class="profile_img" src="{{ u.image.url }}">
          <div class="media-body">

            <div class="article-metadata">
              <strong><p>{{ task.assignedby }}</p></strong>
              {% if task.assignedby.user == user %}
                <div>
                  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'complaint-update' task.id %}">Update</a>
                  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'complaint-delete' task.id %}">Delete</a>
                </div>
              {% endif %}
            </div>
            <p class="article-content">
           
              <small class="text-muted">{{ task.date_posted|date:"F d, Y" }}</small>
            </p>
            <h2 class="article-title">{{ task.title }}</h2>
            <p class="article-content">
           
              {{ task.complaint }}
            </p>
            </p>
        </article>

<form method="POST">
  {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" name="comment" class="btn btn-warning">
  
</form>    

<div class="main-comment-section">
  {{ comments.count }} Comment{{ comments|pluralize }}
</div>

{% for comment in comments %}
  <blockquote class="blockquote">
    <p>{{ comment.content }}</p>
    <footer class="blockquote-footer">
      By <cite>{{ comment.user|capfirst }}
      {% endfor %}
        {% if task.assignedby.id == user.id %}
          <a href="{% url 'complaint-comment' comment.id %}" style="color: #585858;"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
        {% endif %}
        {% if comment.user.id == user.id %}
            {% if comment.user.id == task.assignedby.user.id %}
            {% else %}
            <a href="{% url 'complaint-comment' comment.id %}" style="color: #585858;"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            {% endif %}
        {% endif %}
        </cite> 
    </footer>
  </blockquote>
  
</body>
</html>


