<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks History</title>
</head>
<body>
    <div>
        <h2 class="account-heading">{{ request.user }}</h2>
        <table>
            <tr>
                <td>Date posted</td>
                <td>Complaint</td>
                <td>Worker assigned</td>
                <td>Status</td>
            </tr>
            {% for task in tasks %}
            <tr>
                
                <tr>
                    
                    <td><a href = "{% url 'detailed_task' pk=task.assignedby.id %}">{{ task.date_posted }}</a></td>
                <td><a href = "{% url 'detailed_task' pk=task.assignedby.id %}">{{ task.complaint }}</a></td>
                <td><a href = "{% url 'detailed_task' pk=task.assignedby.id %}">{{ task.assigned.worker.user.username}}</a></td>
                <td><a href = "{% url 'detailed_task' pk=task.assignedby.id %}">{{ task.status }}</a></td>
                </tr>
                
                
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>