<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks History</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>Date posted</td>
                <td>Complaint</td>
                <td>Worker assigned</td>
                <td>Status</td>
                <td>Comments</td>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.date_posted }}</td>
                <td>{{ task.complaint }}</td>
                <td>{{ task.assigned_workername.username}}</td>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                {% if Comments %}
                {{ task.Comments }}             
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>