<!DOCTYPE html>
<head>
    <title>
        Home
    </title>
</head>
<body>
    <form method="GET">
        {% csrf_token %}
        <select name = "w">
            <option value="" disabled selected>Select worker's profession</option>
            {% for pf in professionfilter %}
                <option value = "{{ pf }}">{{ pf }}</option>
            {% endfor %}
        </select>
        <button type = "submit">Apply</button>
    </form>
    <ul>
        <!-- add if clause if no profiles are fetched -->
    {% for profile in profiles %}
            <li><a href = "{% url 'profile-detail' profile.id %}" >{{ profile.workername.user.username }}</a></li>
            <li>{{ profile.workername.image }}</li>
            <li>{{ profile.Star }}</li>
            <li>{{ profile.biodata }}</li>
            <li>{{ profile.profession }}</li>
    {% endfor %}
    </ul>
</body>