{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Complaint Form</title>
  <meta name="viewport" content="width=device-width,
      initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'home/style.css' %}" />
  <script src="{% static 'home/tasks.js' %}"></script>
</head>

<body>
  <div class="container">
    <h1 class="form-title">Complaint Form</h1>
    <form action="." , method = 'POST'>
      {% csrf token %}
      <div class="main-form-info">
        <div class="input-box">
          <label for="">Worker Type:</label>
          <select class="select-box" id="wtype">
            <option value="">Select worker required</option>
            <!-- <option value="Electrician">Electrician</option>
            <option value="Plumber">Plumber</option>
            <option value="Carpenter">Carpenter</option>
            <option value="Nurse">Nurse</option>
            <option value="Painter">Painter</option>
            <option value="Technician">Technician</option> -->
          </select>
          <div class="arrow"></div>
        </div>
        <div class="input-box">
          <label for="">Complaint:</label>
          <select class="select-box" id="complaint">
            <option value="">Select complaint</option>
          </select>
          <div class="arrow arrow2"></div>
        </div>
        <div class="input-box">
          <label for="">Other:</label>
          <textarea name="" id="additional" cols="79" rows="8" placeholder="Enter Custom Complaint"></textarea>
        </div>
        
        <!--div class="input-box">
          <label for="">Upload Image</label>
          <input type="file" id="" onchange="readURL(this)" accept="Image/*" class="imageInput">
        </div-->
      </div>
      <div class="box">
        <input type="checkbox" class="check-button" id="terms">
        <label for="terms" class="check">I accept the terms and conditions</label>
      </div>
      <div class="form-submit-btn">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</body>

</html>