<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task page</title>
</head>
<body>
    <h2>Task {{ task.id }}</h2>
    <h4>Title: {{ task.title }}</h4>
    <h4>Complaint: {{ task.complaint }}</h4>
    Assigned by: {{ task.assignedby.user.username }}
    <br>
    User ID: {{ task.assignedby.user.id }}
    <br>
    <h4>Assign  worker for the task</h4>
    <form method="POST">
        {% csrf_token %}
        <select name="work">
          <option value="" disabled selected>Assign worker</option>
          {% for w in worker %}
          <option value="{{ w }}">{{ w }}: {{ w.no_of_jobs }} jobs currently: {{ w.biodata }}</option>
          {% endfor %}
        </select>
        <button type="submit">Save</button>
      </form>
</body>
</html>