<!DOCTYPE html>
<head>
    <title>
        {{worker.worker.user.username}}'s profile
    </title>
</head>
<body>
    
    <ul>
            <li>{{ worker.worker.user.username }}</li>
            <li><img class="img-fluid rounded-start" src="{{ worker.worker.image.url }}"></li>
            <li>{{ worker.worker.user.email }}</li>
            <li>{{ worker.star }}</li>
            <li>{{ worker.biodata }}</li>
            <li>{{ worker.profession }}</li>
    
    </ul>
    <form method = "post">
        {% csrf_token %}
        title : <input type="text" name = "title"/>
        complaint description :<input type = "text" name = "complaint"/>
        
        <input type = "submit" value = "Save" />
    </form>
    
</body>