@media only screen and (max-width: 1291px) {
    .navbarm{
        height: 485px;
        flex-direction: column;
        transition: all 0.5s ease-out;

    }

    .navbarm li a {
        padding: 0px;
    }
    
    .nav-listm{
        flex-direction: column;
        margin: auto;
    }

    .right-nav{
        margin: auto;
    margin-bottom: 13px;
    flex-direction: column;
    width: 38%;
    }

    /* .right-nav input{
        width: 39%;
    } */

    .right-nav button{
        width: 100%;
    margin-bottom: 13px;
}

.btnm{
    padding: 12px 0px;
}

    .text-big{
        text-align: center;
    }

    .text-small{
        text-align: center;
    }

    .buttons{
        text-align: center;
    }

    .nav-listm li{
        margin: 21px;
    }

    .logom{
    width: 28%;
    margin: 0px;
    max-height: 55px;

}

    .logom img{
        display: block;
        margin: auto;
        max-width: 60px;
        max-height: 55px;
    }

    .secondHalf{
        width: 31%;
        margin: 22px;
    }

    .secondHalf img{
        margin-top: 30px;
        width: 62%;
    }

    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 39px;
    }

    .vis-nav-resp{
        opacity: 0;
    }

    .box-main{
        flex-direction: column-reverse;
    max-width: 100%;
    }

    .form-input{
        max-width: 95%;
    }

    .section{
        flex-direction: column-reverse;
    }

    .section1{
        width: 91%;
    }

    .section1 p {
        max-width: 100%;
    }

    .section-text{
        font-size: 38px;
    }

    .box{
        margin-bottom: 21px;
    }



}

@media only screen and (max-width: 855px){
    .section-text{
    font-size: 28px;
    max-width: 80%;
    }

    .services-h{
        font-size: 51px;
    }

    .box1{
        max-width: 49%;
        margin-top: 10px;
    }

    .boxtext h5{
font-size: 27px;
    }

    .boxtext p{
font-size: 17px;
    }
    

}

@media only screen and (max-width: 506px){
    .firstSection{
        height: 80vh;
    }
    .section-text{
    font-size: 21px;
    max-width: 65%;
    }

    .howitabove{
        height: 50rem;
    }

    .box1{
        max-width: 82%;
        margin-bottom: 34px;

    }

    .test-h{
        font-size: 42px;
    }

    .boxtext h5{
        font-size: 27px;
    }
        
    .boxtext p{
        font-size: 17px;
    }
}

@media only screen and (max-width: 380px){
    .boximg{
        width: 237px;
    }

    .boxtext h5{
        font-size: 22px;
    }
    
}

@media only screen and (max-width: 380px){
    .howitabove{
        height: 54rem;
    }
    .test-h{
        font-size: 37px;
    }
    
}




/* @media only screen and (max-width: 833px) {
    .thumbnail img{
        height: 195px;
    width: 227px;
}

.logom{
    width:34%;
}

.secondHalf img{
    margin-top: 30px;
    width: 77%;
    }

    .right-nav input{
        width: 57%;
    }
    
    .right-nav button{
        width: 71%;
    }
} */

/* @media only screen and (max-width: 525px) {
    .thumbnail img{
        height: 164px;
    width: 170px;
    }

    .right-nav{
        width: 77%;
    }

    .logom{
        width: 51%;
    }

    .secondHalf img{
        height: 130px;
        width: 92%;
    }
} */