@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.logom{
width: 14%;
margin-left: 23px;
}

.logom img{
    max-width: 60px;
    border: 2px solid white;
    border-radius: 39px;
    max-height: 66px;
    margin-left: 44px;
    display: block;
    margin: auto;
}

.navbarm{
    display: flex;
    /* position: sticky; */
    top: 0px;
}

.nav-listm{
    width: 72%;
    /* background-color: rgb(2, 2, 2); */
    display: flex;
    align-items: center;
    margin-left: 38px;
    padding: 9px;
    margin-bottom: 0px;
}

.navbarm li{
    list-style: none;
    /* padding: 22px 30px; */
}

.navbarm li a{
    text-decoration: none;
    padding: 22px 30px;

    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
transition: 0.5s;

}

.navbarm li a:hover{
    color: rgb(171, 165, 165);
}

.right-nav{
    width: 28%;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 23px;
}

.btnm{
    padding: 12px 19px;
    margin: 6px;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    background-color: #dc3545;;
    font-family: 'Ubuntu', sans-serif;
font-size: 15px;
transition: 0.5s;
}

.btnm:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #bb2d3b;
    opacity: 0.9;
}

.burger{
    position: absolute;
    top: 5%;
    right: 15px;
    display: none;
    cursor: pointer;
}

.lineb{
    background: white;
    width: 33px;
    height: 4px;
    margin: 3px 3px;
}

.bgm{
    background-color: rgb(0 0 0 / 85%);

}



.body-student {
    background: #67B26F;  
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  
    background: linear-gradient(to right, #4ca2cd, #67B26F); 
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
    /* height: 100vh; */
}

.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.pencil{
    position: relative;
    margin: 3px;
}

@media only screen and (max-width: 991px){
    .col-lg-4{
        margin: 31px;
    }
}